.game__other{
    width: 100%;
    height: 78%;
}
.iframe{
    width: 100%;
    height: 100%;
}

.botones-other-game{
    display: flex;
    flex-direction: row;
}

@media(min-width: 1000px){
    .game{
        width: 80%;
        height: 1400px;
    }
}