@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background: #030303; */
    background: #fff;
    text-align: center;
}

.title{
    text-align: center;
    color: #45f3ff;
    background-color: #1b1b1b;
    font-weight: 500;
    font-size: 3rem;
}

.btn{
    position: relative;
    width: 200px;
    height: 60px;
    display: inline-block;
    background: rgb(214, 4, 4);
    margin: 20px;
    text-align: center;
}

.btn__menu__games{
    width: 500px;
}

.btn::before,
.btn::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg ,#45f3ff, #0a0a0a, #0a0a0a, #ff3c7b);
    transition: 0.5s;
}

.btn:hover::before{
    inset: -3px;
}

.btn:hover::after{
    inset: -3px;
    filter: blur(10px);
}

.btn span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #0a0a0a;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid #0a0a0a;
    overflow: hidden;
}

.btn span::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.041);
    transform: skew(25deg);
}

.question-card{
    margin: 0 auto;
    background-color: gray;
    padding: 16px;
    border-radius: 16px;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.option-list{
    list-style: none;
}

.option-item{
    background-color: darkgray;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}